<!DOCTYPE html>
<html>
    <head>
        <title>OOOPS !</title>
        <meta charset="utf-8">
        <style>
            body
            {
                background-color: black;
                color: chartreuse;
                text-align: left;
                position: relative;
                left: 5%;
                top: 20px;
            }
        </style>
    </head>
    <body>
        <h1>Oh ! Wrong page !</h1>
        <br>
        <p>It seems that the page your looking for doesn't exist !</p>
        <p>Come back later !</p>
    </body>
</html>