<!DOCTYPE html>
<html>
    <head>
        <title>Website under construction !</title>
        <meta charset="utf-8">
        <style>
            body
            {
                background-color: black;
                color: chartreuse;
                text-align: left;
                position: relative;
                left: 5%;
                top: 20px;
            }
        </style>
    </head>
    <body>
        <h1>Hello traveller !</h1>
        <br>
        <p>The website you're looking for is under construction</p>
        <p>Come back later !</p>
    </body>
</html>